.help{
    background-color: black;
}

.ins{
    width: 50px;
    height: 60px;
}

.help_text{
    margin-bottom: 100%;
}

.help_head{
    color: rgb(141,194,111);
}
.help_color{
     background: rgb(167,255,0);
background: linear-gradient(90deg, rgba(167,255,0,1) 0%, rgba(252,136,69,1) 100%);
}

