.list{    background: #FFFFFF;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

.color{
    background: rgb(141,194,111);
}
.black{
    background: rgb(141,194,111);
}
.center{
    text-align: center;}