.header{
    background-color: LightSeaGreen;
}

.section{
   background-color: #FFFFFF;
}

.footer{
    margin-left: 34%;
    color: #009900;
}

.footer_name{
    background-color: black;
    color: #009900;
}

.image{
    border-radius: 100px
    width: 30px;
    height: 30px;
}

.footer_image{
    background-color: black;
}

.center{
    text-align: center;}

.text{
    width: 600px;

}

.div{
    margin-left: 35%;
}
.color{
    background: #009900;
}
.color2{
    color: #009900;
}
.black{
    background: #009900;
}
.black1{
    background: black;
}
.block{
    border: 5px;

    width: 600px;
}